@import "normalize";

$font-stack: Merriweather, Helvetica, sans-serif;
$primary-color: #333;

body * {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
ul, li, ol, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  background: lightgray;
  font-family: $font-stack;
  font-size: 20px;
  font-weight: 300;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p {
  letter-spacing: .01rem;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

form {
  margin-bottom: 2rem;
}

a {
  color: #337ec3;
  text-decoration: none;
}

p:last-child, form:last-child {
  margin-bottom: 0;
}

button, input, textarea {
  width: 100%;
  padding: 1rem;
  margin: .5rem 0;
  font-size: 1rem;
}

section {
  padding: 1rem;
  max-width: 680px;
  margin: 0 auto;
}

section div {
  background: #f9f9f9;
  border: 1px solid #dedede;
  margin: 0 0 30px 0;
  padding: 20px;
  border-radius: 6px;
}

section div:last-child {
  margin: 0;
}

.previousWords {
  font-size: .8rem;
}
