{{!< index}}

<section>
{{#each words}}
<form action="/update/word" method="post">
  <input name="id" type="hidden" value="{{id}}" />
  <input name="word" type="text" placeholder="Palabra" value="{{word}}" />
  <textarea name="definition" cols="30" rows="10" placeholder="Definición">{{definition}}</textarea>
  <input name="publishedAt" type="date" value="{{publishedAt}}"/>
  <input name="approved" type="checkbox" />
  <input name="validationToken" type="text" placeholder="Token" />
  <button type="submit">Enviar</button>
</form>
{{/each}}
</section>
