<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>David Rey</title>

    <meta name="description" content="Software developer in a permanent beta mindset"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="google-site-verification" content="DszJY_XwNlfAuWHZWUXSMBE95aATom8vd4b14bMT-5I"/>

    <link rel="shortcut icon" href="/favicon.ico">

    <style>{{style}}</style>

    <link rel="canonical" href="http://dreyacosta.com/"/>
    <meta name="referrer" content="origin"/>

    <link rel="next" href="http://dreyacosta.com/page/2/"/>

    <meta property="og:site_name" content="David Rey"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="David Rey"/>
    <meta property="og:description" content="Software developer in a permanent beta mindset"/>
    <meta property="og:url" content="http://dreyacosta.com/"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="David Rey"/>
    <meta name="twitter:description" content="Software developer in a permanent beta mindset"/>
    <meta name="twitter:url" content="http://dreyacosta.com/"/>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Website",
        "publisher": "David Rey",
        "url": "http://dreyacosta.com/",
        "description": "Software developer in a permanent beta mindset"
      }
    </script>

    <meta name="generator" content="Ghost 0.7"/>
    <link rel="alternate" type="application/rss+xml" title="David Rey" href="http://dreyacosta.com/rss/"/>
  </head>
  <body>
    {{{body}}}

    {{> load-fonts}}
  </body/>
</html>
