{{!< index}}

    <section>
      <div>
        <h2><a href="/word/{{word.word}}">{{word.word}}</a></h2>
        <p>{{{word.definition}}}</p>
        {{#if word.synonyms}}
        <p>{{{word.synonyms}}}</p>
        {{/if}}
      </div>

      <h3>Previous words</h3>
      {{#each words}}
      <div>
        <h4><a href="/word/{{word}}">{{word}}</a></h4>
        <p class="previousWord">{{{definition}}}</p>
      </div>
      {{/each}}
    </section>
