{{!< index}}

<section>
<form action="/word" method="post">
  <input name="word" type="text" placeholder="Palabra" />
  <textarea name="definition" cols="30" rows="10" placeholder="Definición" ></textarea>
  <input name="synonyms" type="type" placeholder="Synonyms" />
  <input name="publishedAt" type="date" />
  <input name="approved" type="checkbox" />
  <input name="validationToken" type="text" placeholder="Token" />
  <button type="submit">Enviar</button>
</form>
</section>
